.table__cell.table__theme_dark {
  width: 200px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.section-title.table__theme_dark {
  margin-top: 90px;
}

.table.table__theme_dark {
  margin-bottom: 90px;
}
