.content__techniques__cards_item {
  margin-top: 60px;
  margin-right: 100px;
  width: 240px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content__techniques__cards_item:nth-of-type(3n) {
  margin-right: 0;
}
