.content__kaufman__table__cell.content__kaufman_theme-dark {
  width: 200px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.content__section-title.content__kaufman_theme-dark {
  margin-top: 90px;
}

.content__kaufman__table.content__kaufman_theme-dark {
  margin-bottom: 90px;
}
