.feynman__link_text {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
}

.feynman__link_text:hover {
  text-decoration: underline;
}

.feynman__link_text:visited {
  text-decoration: none;
  color: #2F80ED;
}
